/* ===== NAVBAR ===== */

.navbar{
    background:#111 !important;
    border-bottom:1px solid rgba(255,215,0,.2);
    padding:15px 0;
}

.navbar-brand{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:1.7rem;
    font-weight:700;
    text-decoration:none;
}

.brand-name{
    color:#FFD700 !important;
    font-weight:700;
}

.navbar-brand img{
    width:42px;
    height:42px;
    object-fit:contain;
}

.navbar-nav .nav-link{
    color:#fff !important;
    font-weight:500;
    margin-left:18px;
    transition:.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active{
    color:#FFD700 !important;
}

.navbar-toggler{
    border:1px solid #FFD700;
}

.navbar-toggler-icon{
    filter:invert(1);
}

/* Music Page */

.music-container{
    max-width:1100px;
    margin:0 auto;
    padding:120px 20px 60px;
}

.music-card{
    background:#111;
    border:1px solid #D4AF37;
    border-radius:18px;
    padding:30px;
    margin-bottom:30px;
    box-shadow:0 0 20px rgba(212,175,55,.12);
}

.music-card h2{
    color:#D4AF37;
    text-align:center;
    margin-bottom:20px;
}

.music-card audio{
    width:100%;
}
